<div class = "footer-icons">
  <a href = "{{ site.data.params.github_url }}" target = "_blank"><img src = "{{ site.data.resources.github_logo }}" alt = "Github logo"></a>
  <a href = "{{ site.data.params.twitter_url }}" target = "_blank"><img src = "{{ site.data.resources.twitter_logo }}" alt = "Twitter logo"></a>
  <a href = "{{ site.data.params.linkedin_url }}" target = "_blank"><img src = "{{ site.data.resources.linkedin_logo }}" alt = "Linkedin logo"></a>
  <a href = "mailto:{{ site.email }}" target = "_blank"><img src = "{{ site.data.resources.email_logo }}" alt = "Email logo"></a>
  <a href = "{{ site.data.params.google_url }}" target = "_blank"><img src = "{{ site.data.resources.google_logo }}" alt = "Google+ logo"></a>
  <a href = "{{ site.data.params.keybase_url }}" target = "_blank"><img src = "{{ site.data.resources.keybase_logo }}" alt = "Keybase logo"></a>
  <a href = "{{ site.data.params.rss_url }}" target = "_blank"><img src = "{{ site.data.resources.rss_logo }}" alt = "RSS logo"></a>
</div>