<head>
    
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name = "viewport" content = "width=device-width">

    <meta name = "author" content = "Dhaval Kapil">
    {% if page.keywords %}
    <meta name = "keywords" content = "{{ page.keywords }} , {{ site.keywords }}">
    {% else %}
    <meta name = "keywords" content = "{{ site.keywords }}">
    {% endif %}
    {% if page.excerpt %}
    <meta name = "description" content = "{{ page.excerpt }}">
    {% else %}
    <meta name = "description" content = "{{ site.description }}">
    {% endif %}

    <!-- Facebook Open Graph meta data -->
    <meta property = "og:title" content = "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property = "og:url" content = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.date %}
    <meta property = "article:published_time" content = "{{ page.date | date: "%Y-%m-%d" }}">
    <meta property = "og:type" content = "article">
    {% endif %}
    <meta property = "og:site_name" content = "{{ site.url }}">
    <meta property = "og:image" content = "{{ site.url }}{{ site.data.resources.avatar }}">
    
    <meta property="fb:admins" content="100006280205504">

    <!-- Twitter Card meta data -->
    <meta name = "twitter:card" content = "summary">
    <meta name = "twitter:title" content = "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name = "twitter:image" content = "{{ site.url }}{{ site.data.resources.avatar }}">
    <meta name = "twitter:creator" content = "@dhaval_kapil">
    <meta name = "twitter:site" content = "@dhaval_kapil">
    <meta name = "twitter:url" content = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.excerpt %}   
    <meta name = "twitter:description" content = "{{ page.excerpt }}">
    {% else %}
    <meta name = "twitter:description" content = "{{ site.description }}">
    {% endif %}

    <link rel = "canonical" href = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    
    <link rel = "stylesheet" href = "{{ "/assets/css/main.css" | prepend: site.baseurl }}">

    <link rel = "apple-touch-icon" href = "{{ site.data.resources.apple-touch-icon }}">
    <link rel = "shortcut icon" href = "{{ site.data.resources.favicon }}">

    <!-- Edit later as a loop -->
    <link rel="me" href="https://plus.google.com/+DhavalKapildk">
    <link rel = "me" href = "{{ site.data.params.facebook_url }}">

    <script src = "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src = "/assets/js/script.js"></script>

</head>
