<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
          <a class = "page-link" href = "{{ site.data.params.archive_url }}">BLOG</a>
          <a class = "page-link" href = "{{ site.data.params.about_url }}">ABOUT</a>
          <a class = "page-link" href = "{{ site.data.params.projects_url }}">PROJECTS</a>
          <a class = "page-link" href = "{{ site.data.params.contact_url }}">CONTACT</a>
      </div>
    </nav>

  </div>

</header>
